@charset "UTF-8";

.main-header {
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  max-width: 1100px;
  margin: 0 auto;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.left-wrap {
  display: flex;
  flex-direction: row;
}

.header-logo-name {
  margin-right: 40px;
  font-size: 20px;
}

.header-item-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header-item-list li {
  padding: 5px 20px;
}

.header-item-list li a {
  text-decoration-line: none;
  font-weight: 400;
  color: #000;
}

.header-item-list li:nth-child(1) {
  border-radius: 20px;
  background-color: #000;
}

.header-item-list .item-list-home {
  color: #fff;
  font-weight: 800;
}

.right-wrap-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 8px 15px;
  gap: 20px;
}

.search-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-btn-image {
  width: 20px;
  height: 20px;
}

.login-btn-image {
  width: 20px;
  height: 20px;
}

.cart-btn-image {
  width: 20px;
  height: 20px;
}

.user-page-btn-image {
  width: 20px;
  height: 20px;
}

.right-wrap-list a {
  text-decoration-line: none;
}

.nav-item-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  height: 40px;
}

.nav-item-list a {
  padding: 5px 20px;
  text-decoration-line: none;
  color: #000;
}

.nav-item-list :hover {
  background-color: #e5e5e5;
  border-radius: 20px;
}
