@charset "UTF-8";

.list-content-container {
  width: 100%;
  height: 100vh;
}

.list-content-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.list-title-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 40px 0 16px 0;
  margin-bottom: 30px;
  border-bottom: 3px solid #000;
  width: 100%;
  gap: 10px;
}

.list-top-main-title {
  font-size: 30px;
  font-weight: bold;
}

.list-top-main-image {
  width: 20px;
  height: 20px;
}

.list-top-sub-title {
  font-size: 18px;
}

.list-content-area {
  flex-direction: row;
  display: flex;
  width: 100%;
  padding-bottom: 120px;
  gap: 90px;
}

.list-content-aside {
  width: 210px;
}

.aside-top-text {
  margin-bottom: 14px;
  font-size: 17px;
  font-weight: bold;
}

.aside-center-text {
  font-size: 12px;
  color: #808080;
}

.aside-wide-text {
  display: block;
  margin-top: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.list-item-area {
  width: 100%;
  gap: 50px;
  cursor: pointer;
}

.list-item-box-area {
  width: 260px;
  height: 100%;
  background-color: gray;
  /* gap: 50px; */
}

.list-item-content-area {
  width: 260px;
}

.list-item-image-section {
  object-fit: cover;
}

.list-item-text-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 5px 40px 5px;
  font-size: 0;
}

.list-item-text-section h2 a {
  color: #000;
  font-size: 12px;
}

.list-item-text-section h3 {
  font-size: 12px;
  margin-bottom: 10px;
}

.list-item-text-section h4 {
  font-size: 15px;
}
